body{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
}
/* Front page  */

.header .col-lg-12{
    margin: 0px; padding: 0px;
}
.header h1{
    font-weight: 700;
    font-size: 60px;
}
.text-blue{
    color: rgb(2,143,204);
}
.text-white{
    color: white;
}
.text-green{
    color: #1abc9c;
}
.navbar{
    padding: 10px 0px;
    border-radius: 0px;
}
/*.service{
    padding: 80px 40px;
}*/
.ser_content{
    padding: 80px;
}
.ser_content h2{
    color: #333333;
}
.sign-in {
    text-align: center;
    padding: 120px 0px;
}
.sign-in a{
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    border: 3px solid #1abc9c;
    color: white;
}
.sign-in a:hover{
    background:#1abc9c;
    color: white;
}
.ser_content p{
    color: rgb(102,102,102);
}
.service_icon{
    padding: 20px;
    border-radius: 5px;
    background: rgb(2,143,204);
    display: inline-block;
    font-size: 36px;
    color: white;
    height: 90px;
    width: 90px;
}
.service_info h3{
    color: #333;
}
.service_info p{
    color: rgb(102,102,102);
    padding: 0px 15px;
}
.service_icon:hover{
    background-color: #333333;
}
.ser_sector{
    padding-bottom: 80px;
}
.about{
    background: url(../img/about-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px 0px;
}
.team{
    padding: 40px 0px;
}
.team h3{
    padding: 20px;
}
.front_footer{
    background: #222;
}
.front_footer p{
    padding: 10px;
}


/* home page section */

.welcome{
    padding: 70px;
}
.select_area{
    background: url(../img/about-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 180px 0px;
}
.select_section{
    text-align: center;
    letter-spacing: 5px;
}
.select_section a{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    border: 3px solid #1abc9c;
    color: white;
}
.select_section a:hover{
    background:#1abc9c;
    color: white;
}

.navbar{
	border-radius: 0px;
}
.text-green{
	color: #1abc9c;
}
.text-default{
	color: black;
}
.text-white{
	color: white;
}
.nav-tabs .col-lg-12{
	padding: 0px; margin: 0px;
	border-bottom: 4px solid #1abc9c;
}
.ticket-pick{
	padding-top: 30px;
}
.mid-content{

}
.pick-form{
	padding-top: 20px;
}
.ad-section{
	border: 4px solid #1abc9c;
	width: 100%;
	overflow: hidden;
}
.why-buy{
	padding: 40px 0px;
	background-color: #fbfbfb;
}
.first-whybuy ul li{
	list-style-type: square;
	color: #1abc9c;
}
.first-whybuy h4{
	padding-bottom: 15px;
}
.scnd-whybuy h4{
	padding-bottom: 15px;
}
.bus-operator{
	padding-bottom: 20px;
}
.operator ul{
	list-style-type: none;
}
.operator ul li{
	float: left;
}
.works-section{
	border: 1px solid #1abc9c;
	padding: 20px;
}
.works-section ul{
	list-style-type: square;
}
.available-route ul{
	list-style-type: none;
}
.big-menu ul{
	list-style-type: none;
	padding: 12px;
}
.big-menu ul li{
	display: inline;
	margin-left: 7px;
}
.big-menu ul li a{
	color: black;
}
.big-menu ul li a:hover{
	color: #1abc9c;
}
.logo-menu ul{
	list-style-type: none;
}
.logo-menu ul li{
	display: inline;
	font-size: 30px;
	letter-spacing: 5px;
}


/* Movies section css */
.buy-show{
	padding: 10px 0px;
}
.instant-buy{
	border: 1px solid #dedede;
}
.now-showing h4{
	border-bottom: 3px solid #1abc9c;
}


/* admin_dashboard */
.content-table{
	padding-top: 20px;
}